<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
<link rel ="stylesheet" href =" main1.css">
<div ng-controller="addDependentsController">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">PRISON MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/requestValidate">Request Validate</a></li>
      <li><a href="#/viewDetails">View Details</a></li>
      <li><a href="#/assignWork">Assign Work</a></li>
      <li><a href="#/addPrisoner">Add Prisoner</a></li>
      <li class ="active"><a>Add Dependent</a></li>

      <!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>
<div class = "centereddep">

	<div class="panel panel-default">
<form id="t1" ng-submit="addDep()" >

  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" class="form-control" id="pid" ng-model="name" required>
    <label for="pid">Prisoner ID: </label>
    <input type="text" class="form-control" id="pid" ng-model="pid" required>
  </div>
  <div class="form-group">
    <label for="relation">Relation:</label>
    <input type="text" class="form-control" id="relation" ng-model="relation" required>
  </div>
  <div class="form-group">
    <label for="phoneNo">Phone No:</label>
    <input type="text" class="form-control" id="phoneNo" ng-model = "phoneNo" pattern="^\d{10}$" title = "Phone number should be of 10 digits" required>
  </div>
  <div class="form-group">
    <label for="phoneNo">SupervisorId(to whom request has to be sent):</label>
    <input type="text" class="form-control" id="relation" ng-model="super" required>
  </div>
  <div class="text-center">
  <button id = "submit" type="submit" class="btn-custom">Add Dependent</button>
</div>


</form>
</div>
</div>
</div>
<script>
	$(function(){

		// $("#submit").click(function(){
    //   alert("Form submitted");
    // });

    // var info = {};
    // info.title="title";
    // var $pid = $('#pid');
    // $.ajax({
    //   type: 'POST',
    //   contentType:"application/json"
    //   url: 'http://localhost:1337/addPrisoner.html',
    //   success: function(info){
    //     $pid.append(info.name)
    //     window.alert('i know');
    //   }
    // })

    $("#t1").validate();

	});
</script>
