
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">PRISON MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/requestValidate">Request Validate</a></li>
      <li><a href="#/viewDetails">View Details</a></li>
      <li class = "active"><a href = "#">Assign Work</a></li>
      <li><a href="#/addPrisoner">Add Prisoner</a></li>
      <li><a href = "addDependents">Add Dependent</a></li>
      <!-- <li><a href="#/#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>
<label class="control-label">Assign For : </label>
<div class="radio-inline">
  <label><input type="radio" name="optradio" class = "prisoner" checked>Prisoner</label>
</div>
<div class="radio-inline">
  <label><input type="radio" name="optradio" class = "guard">Guard</label>
</div>
<form>

  <div class="form-group">
  	<br>
    <label for="pid" class = "pid">Prisoner ID:</label>
    <input type="text" class="form-control" id="pid">
  </div>
  <div class="form-group">
    <label for="did">Department ID:</label>
    <input type="text" class="form-control" id="did">
  </div>
  <div class="form-group">
    <label for="shift">Shift:</label>
    <input type="text" class="form-control" id="shift">
  </div>
  <button id = "submit" type="button" class="btn btn-default">Submit</button>
</form>



<script>
	$(function(){

		$('.guard').on('click',function(){
			$('.pid').html("Guard ID:");
		})
		$('.prisoner').on('click',function(){
			$('.pid').html("Prisoner ID:");
		})



	});
</script>
