<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
<link rel ="stylesheet" href =" main1.css">
<div ng-controller="doctorController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">PRISON MANAGEMENT</a>
    </div>

  </div>
</nav>
<div class = "centeredlaw">

	<div class="panel panel-default">
<form id="t1" ng-submit="meetReqDoc()">
    <label for="req">Enter prisoner's ID whose medical records has to be viewed:</label>
    <div class="form-group">
    <label for="pid">ID:</label>
    <input type="text" class="form-control" id="pid" ng-model="pid" required>
  </div>
  <div class = "text-center">
    <button  type="submit" class="btn-custom">Get Records</button>
  </div>
  <div ng-if = "show==1" class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="pname" readonly>
  </div>

</form>
<br>
<div ng-if="show==1" id = "med" class="form-group">
  <label for="mr">Medical Records:</label>
  <textarea class = "form-control" rows = "5" id = "mr" ng-model="medfill" readonly>
  {{medfill}}</textarea>
</div>
</div>
</div>
</div>
<script>
	 $(function(){
	// 		$('#med').hide();
	// 		$('#submit').on('click',function(){
	// 			$('#med').show();
	// 		})
    $("#t1").validate();

	});
</script>
