<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
<link rel ="stylesheet" href =" main1.css">
<div ng-controller="familyController">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index.html">PRISON MANAGEMENT</a>
    </div>

  </div>
</nav>
<!-- <label ng-show>
  Your request has not yet been approved.
</label> -->

<div class = "centeredlaw">

	<div class="panel panel-default">

<form id="t1" ng-submit="meetReqFam(fam)">
<label for="req">Fill in the following details to send request to the supervisor:</label>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="fam.name" required>
  </div>
  <div class="form-group">
    <label for="reason">Reason for request:</label>
    <input type="text" class="form-control" id="reason" ng-model = "fam.reason" required>
  </div>
    <label for="reqtm">Request To Meet (Enter prisoner details):</label>
  <div class="form-group">
    <label for="pid">PID:</label>
    <input type="text" class="form-control" id="pid" ng-model="fam.pid" required>
  </div>
  <div class="form-group">
    <label for="pname">Prisoner Name:</label>
    <input type="text" class="form-control" id="pname" ng-model="fam.pname" required>
  </div>
  <div class="text-center">
  <button type="submit" class="btn-custom">Submit</button>
</form>
</div>
</div>

<script>
	$(function(){



        $("#t1").validate();

	});
</script>
<script src = "main.js"></script>
