<!-- <!DOCTYPE html>
<html>
<head>
	<title>Login</title>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<script src = "/home/ksamogh/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="main1.css">
	<link rel="stylesheet" type="text/css" href="/home/ksamogh/bootstrap-3.3.7/dist/css/bootstrap.css">
</head>
<body> -->
<style>
body{
	background-image: url('/views/pic.jpg');
	/*background-image: url('/views/a.png');*/
	background-size: 100%;
}
</style>

<body>
<div>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">PRISON MANAGEMENT</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href='#/login'>Login</a></li>
	      <!-- <li><a href="#">Page 2</a></li>
	      <li><a href="#">Page 3</a></li> -->
	    </ul>
	  </div>
	</nav>
	<!-- <img src="/views/pr.jpg" height=> -->
</div>
</body>
<!-- <h1>LOGIN : </h1> -->
<!--
<form>
	<div class = "r">
		<input id = "r1" type="radio" name="visitorType" value="dependent" checked  >
		<span>Dependent</span>
		<input id = "r2" type="radio" name="visitorType" value="lawyer" >
		<span>Lawyer</span><br>
	</div>
	<div class = "block">
		<div class = "set">
			<span id = "name">User Name:</span>
			<input type="text" name="name"><br>
		</div>
		<div class = "set">
			<span>Password:</span>
			<input type="text" name="password">
		</div>
	</div>
</form> -->



<script src="/home/ksamogh/node_modules/jquery/dist/jquery.js"></script>
<script>
	$(function(){
		//$("#name").slideUp(1000).delay(1000).slideDown(1000).fadeToggle(1000);
		/*$("#name").css({
			color:'red',
			fontWeight:'bold',
			opacity:'0.5'
		})*/ //ctr shift slash for multiline comments
		//select text to replace, alt f3 to replace all similar instancesss




	});
</script>

<!-- </body>
</html> -->
