<div ng-controller="lawyerController">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index.html">PRISON MANAGEMENT</a>
    </div>

  </div>
</nav>
<form ng-submit="meetReqLaw(lawyer)">
    <label for="req">Fill in the following details to send request to the supervisor:</label>
    <div class="form-group">
    <label for="lid">ID:</label>
    <input type="text" class="form-control" ng-model="lawyer.lid">
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control"  ng-model="lawyer.name">
  </div>
  <div class="form-group">
    <label for="reason">Reason for request:</label>
    <input type="text" class="form-control"  ng-model="lawyer.reason">
  </div>
    <label for="reqtm">Request To Meet (Enter prisoner details):</label>
  <div class="form-group">
    <label for="pid">PID:</label>
    <input type="text" class="form-control"  ng-model="lawyer.pid">
  </div>
  <div class="form-group">
    <label for="pname">Prisoner Name:</label>
    <input type="text" class="form-control"  ng-model="lawyer.pname">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
