
<div ng-controller="requestValidateController">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">PRISON MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a>Request Validate</a></li>
      <li><a href="#/viewDetails">View Details</a></li>
      <li><a href="#/assignWork">Assign Work</a></li>
      <li><a href = "#/addPrisoner">Add Prisoner</a></li>
      <li><a href = "#/addDependents">Add Dependent</a></li>
      <!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>

<label>Requests from Dependants</label>
<div>
  <table style="table-layout:fixed"class="table" show-filter="true">
    <tr>
<th>Choose Action</th>
  <th>Name</th>
  <th>P_id</th>
  <th>Relation</th>

  <th>Reason</th>



    </tr>
      <tr ng-repeat="x in dependents">
        <!-- <th>{{x}}</th> -->

        <td><button style="background:green" ng-click="statusUpdateDepAcc(x)">Accept</button>
        <button style="background:red" ng-click="statusUpdateDepRej(x)">Reject</button></td>
          <td>{{x.Name}}</td>
          <td>{{x.P_id}}</td>
          <td>{{x.Relation}}</td>

          <td>{{x.Reason}}</td>

      </tr>
  </table></div>


<label>Requests from Lawyers</label>
<div>
  <table style="table-layout:fixed" class="table" show-filter="true">
    <tr>
  <th>Choose Action</th>
  <th>Lid</th>
  <th>Phno</th>
  <th>Address</th>
  <th>Reason</th>



    </tr>
      <tr ng-repeat="x in lawyer">
        <!-- <th>{{x}}</th> -->
        <td><button style="background:green" ng-click="statusUpdateLawAcc(x)">Accept</button>
        <button style="background:red" ng-click="statusUpdateLawRej(x)">Reject</button></td>
          <td>{{x.Lid}}</td>
          <td>{{x.PhNo}}</td>
          <td>{{x.Address}}</td>
          <td>{{x.Reason}}</td>


      </tr>
  </table>
</div>






</div>
<script>
	$(function(){





	});
</script>
