<!DOCTYPE html>
<html>
<head>
	<title>Login</title>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



  
	<script src="/home/ksamogh/node_modules/jquery/dist/jquery.js"></script>
	<script src = "/home/ksamogh/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="/home/ksamogh/bootstrap-3.3.7/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">PRISON MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class = "active">Request Validate</a></li>
      <li><a href="viewDetails.html">View Details</a></li>
      <li><a href="assignWork.html">Assign Work</a></li>
      <li><a href="addPrisoner.html">Add Prisoner</a></li>
      <!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul> 
  </div>
</nav>  



<script>
	$(function(){
		window.location.href = "requestValidate.html";	
		

	

	});
</script>
<script src = "main.js"></script>
</body>
</html>