<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"> -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
<link rel ="stylesheet" href =" main1.css">
<style>
label{
	color:#FFFFFF;
}
</style>
<div ng-controller="viewDetailsController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/index">PRISON MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/requestValidate">Request Validate</a></li>
      <li class ="active"><a>View Details</a></li>
      <li><a href="#/assignWork">Assign Work</a></li>
      <li><a href= "#/addPrisoner">Add Prisoner</a></li>
      <li><a href= "#/addDependents">Add Dependent</a></li>
      <!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>

 <!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Prisoner</a></li>
    <li><a href="#">Department</a></li>
    <li><a href="#">Case</a></li>
    <li><a href="#">Cell</a></li>
    <li><a href="#">Dependents</a></li>
    <li><a href="#">Lawyer</a></li>
    <li><a href="#">Guard</a></li>
  </ul>
</div>  -->

<label for="choose">Choose table to View:</label>
<select name="mySelect" id="mySelect"
 ng-options="option.name for option in data.availableOptions track by option.id"
 ng-model="data.selectedOption"
 value = "data.selectedOption.id"
 ng-change="update(data.selectedOption.id)"></select>
 <!-- <p>option={{data.selectedOption}}</p> -->
<!-- <form ng-submit="retrieve()">
 <div class="form-group">
   <br>
   <label for="name" class = "name">{{labelName}}</label>
   <input type="text" class="form-control" id="name" ng-model="id">
 </div>
<button type="submit">Retrieve</button> -->

<!-- {{feed}} -->

<!--  Prisoner table-->
<div ng-if="pri==1">
<div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Pid</th>
<th>Name</th>
<th>Crime</th>
<th>Address</th>
<th>DOJ</th>
<th>D_id</th>
<th>shift</th>
<th>C_id</th>
<th>Cell_id</th>
<th>L_id</th>
<th>Remarks</th>
<th>Medical_records</th>

  </tr>
    <tr ng-repeat="x in prisoner">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Pid}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.Crime}}</td>
        <td>{{x.Address}}</td>
        <td>{{x.DOJ}}</td>
        <td>{{x.D_id}}</td>
        <td>{{x.Shift}}</td>
        <td>{{x.C_id}}</td>
        <td>{{x.Cell_id}}</td>
        <td>{{x.L_id}}</td>
        <td>{{x.Remarks}}</td>
        <td>{{x.Medical_records}}</td>
    </tr>
</table>
</div>
</div>

<!-- department table -->
<div ng-if="law==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Lid</th>
<th>Phno</th>
<th>Address</th>
<th>Super_id</th>
<th>Status</th>
<th>Reason</th>


  </tr>
    <tr ng-repeat="x in lawyer">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Lid}}</td>
        <td>{{x.PhNo}}</td>
        <td>{{x.Address}}</td>
        <td>{{x.Super_id}}</td>
        <td>{{x.Status}}</td>
        <td>{{x.Reason}}</td>

    </tr>
</table>
</div>
</div>

<div ng-if="dep==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Did</th>
<th>Name</th>
<th>No_of_people</th>

  </tr>
    <tr ng-repeat="x in department">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Did}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.No_of_people}}</td>
    </tr>
</table>
</div>
</div>

<div ng-if="cas==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Cid</th>
<th>Details</th>
<th>Status</th>

  </tr>
    <tr ng-repeat="x in cases">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Cid}}</td>
        <td>{{x.Details}}</td>
        <td>{{x.Status}}</td>
    </tr>
</table>
</div>
</div>

<div ng-if="cel==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Cell_id</th>
<th>FloorNo</th>
<th>Capacity</th>
<th>G_id</th>

  </tr>
    <tr ng-repeat="x in cell">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Cell_id}}</td>
        <td>{{x.FloorNo}}</td>
        <td>{{x.Capacity}}</td>
        <td>{{x.G_id}}</td>
    </tr>
</table>
</div>
</div>

<div ng-if="depe==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Name</th>
<th>P_id</th>
<th>Relation</th>
<th>PhNo</th>
<th>Status</th>
<th>Super_id</th>
<th>Reason</th>

  </tr>
    <tr ng-repeat="x in dependents">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Name}}</td>
        <td>{{x.P_id}}</td>
        <td>{{x.Relation}}</td>
        <td>{{x.PhNo}}</td>
        <td>{{x.Status}}</td>
        <td>{{x.Super_id}}</td>
        <td>{{x.Reason}}</td>

    </tr>
</table>
</div>
</div>


<div ng-if="gu==1">
  <div class = "panel panel-default">
<table class="table" show-filter="true">
  <tr>
<th>Gid</th>
<th>Name</th>
<th>Address</th>
<th>PhNo</th>
<th>Salary</th>
<th>D_id</th>
<th>Shift</th>
<th>Super_id</th>


  </tr>
    <tr ng-repeat="x in guard">
      <!-- <th>{{x}}</th> -->
        <td>{{x.Gid}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.Address}}</td>
        <td>{{x.PhNo}}</td>
        <td>{{x.Salary}}</td>
        <td>{{x.D_id}}</td>
        <td>{{x.Shift}}</td>
        <td>{{x.Super_id}}</td>
    </tr>
</table>
</div>
</div>

</div>
<script>
	$(function(){

		// $('form').hide();
		// $('select').on('change',function(){
		// 	$('form').hide();
		// 	$("#"+($(this).val())).show();
		// })
});
</script>
